body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
}

.quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    min-height: 400px;

    padding: 20px;
    
    background-color: white;
    border: 1px solid none;
    border-radius: 5px;
}

#answers{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.botao{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#btn{
    margin-top: 20px;
}

.correto{
    background-color: green;
}

.errou{
    background-color: red;
}