body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
}

.quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: white;
    border: 1px solid none;
    border-radius: 5px;
}

#answers{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#answers p{
    margin: 0;
}

.botao{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
    width: 100px;
    text-align: left;
}

#btn{
    margin-top: 10px;
}