body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #dbeafe;
}

.container{
    background: #ffffff;
    border: 1px none;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    padding: 10px;
}

.global{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 15px;
}

label{
    width: 100px;
}

input{
    width: 200px;
    padding: 5px;
}