body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px solid;
    width: 50%;
    text-align: center;
    padding: 20px;
}

.relogio{
    display: flex;
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;

}