body{
    display: flex;
    justify-content: center;
    border: 1px black;
    box-shadow: 0px 0px 5px black;
    width: 100vh;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}

h3, h2{
    text-align: center;
}

input{
    margin: auto;
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 40px;
    background-color: #B2FFFF;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover{
    background-color: #40E0D0;
}

button:active {
    background-color: #00B7B7;
}
